# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build output
dist
build
coverage
apps/api/dist/
apps/api/src/**/*.js
apps/api/src/**/*.js.map
apps/api/**/*.d.ts
apps/api/**/*.d.ts.map
apps/api/tests/**/*.js
apps/api/tests/**/*.js.map
apps/web/src/_legacy

# Logs
var/
*.log
!var/logs/
!var/logs/.gitkeep

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor / OS
.DS_Store
.vscode/*
!.vscode/settings.json
.idea/
*.swp

# Husky / Git
pre-commit/node_modules

# Storybook build artifacts
storybook-static/
.storybook-cache/
.cache/storybook/

# Legacy content
_legacy/*
